arsip/
data/**/v1_*.json
data/**/Legacy_*.json
data/master
bot_telegram
cek_duplikat.py
tes.py
__pycache__

# Mengabaikan Python Virtual Environment & Cache (INI YANG PALING PENTING)
venv/
.venv/
env/
__pycache__/
*.pyc

# Mengabaikan script & tools
scripts/
tools/
*.bat
*.py