# Mengabaikan Python Virtual Environment & Cache (INI YANG PALING PENTING)
venv/
.venv/
env/
__pycache__/
__pycache__
*.pyc

# mengabaikan Folder
arsip/
bot_telegram
scripts/
tools/
arsip_lokal/

# mengabaikan File
data/**/v1_*.json
data/**/Legacy_*.json
cek_duplikat.py
tes.py
*.bat
*.py